body {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
  }
  
  header {
    height: 832px;
  }
  
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  header nav a {
    color: rgba(80, 20, 128, 1);
    text-decoration: none;
    margin-right: 15px;
  }
  header nav a:hover {
    color: rgba(235, 116, 29, 1);
  }
  
  .logo {
    margin-left: 2%;
  }
  
  .onglets {
    margin-left: 400px;
    margin-top: 2%;
    font-weight: bold;
  }
  
  .search {
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: rgba(196, 196, 196, 0.22);
    height: 40px;
    border-radius: 30px;
    border: 2px solid rgba(133, 130, 130, 1);
    background-color: rgba(196, 196, 196, 0.22);
  }
  
  
  
  .accueil {
    width: 190vh;
    height: 45vh;
    background-color: black;
    color: white;
    border-radius: 30px;
    margin: 3.5%;
    margin-top: auto;
    background-image: url(img/ImageG.jpg);
    background-position: center;
    background-size: cover;
  }
  
  .accueil2{
    display: flex;
    justify-content: space-between;
  }
  
  
  
  
  .transparent {
    background: transparent;
    background: rgba(0, 0, 0, 0.44);
    width: 190vh;
    height: 45vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 300px;
    height: 300px;
    display: flex;
    float: right;
    padding: 30px;
    background-image: url(img/abalo.jpg);
    background-size: cover;
    margin-top: -30px;
    margin-right: 230px;
  }
  
  .text{
      text-align: center;
      align-items: center;
      }
  
  header h1
  {
  font-size: 50px;
  }
  .text1 {
    margin-left: 3.5%;
    font-weight: bold;
    font-size: 20px;
  }
  .dis {
    height: 54px;
    width: 163px;
    background-color: rgba(68, 79, 182, 1);
    color: white;
    border-radius: 10px;
    border: 1px rgba(68, 79, 182, 1);
    font-size: 20px;
    font-weight: bold;
  }
  .dis:hover {
    color: rgba(235, 116, 29, 1);
  }
  
  .offre {
    margin-top: -130px;
  }
  
  .exclu {
    width: 190vh;
    height: 50vh;
    background: blueviolet;
    margin: 3.5%;
    background: url(img/omg.jpg);
    margin-top: 25px;
  }
  
  .ombre {
    height: 50vh;
    width: 90.5vh;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.44);
    margin-left: 99.5vh;
    color: white;
  
  
  }
  
  
  .txt1{
      margin-left: 50px;
      justify-content: center;
      display: flex;
      margin-left: -200px;
  }
  
  .gros{
  font-size: 25px;
  font-weight: bold;
  }
  
  .bas{
  display: flex;
  }
  
  .p{
      height: 50px;
      width: 50px;
      background-color: white;
      border-radius: 25px;
      margin-top: 20px;
      text-align: center;
      color: red;
  
  }
  
  .d{
      height: 50px;
      width: 90px;
      margin-left: 50px;
      background: url(droite.svg);
      background-color: white;
      background-position: right;
      background-size: 40px;
      font-size: 15px;
      font-weight: bold;
      color: rgba(68, 79, 182, 1);
     margin-top: 20px;
  
  
  }
  
  .tx {
    margin-left: 3.5%;
    font-size: 25px;
    font-weight: bold;
  }
  
  .img {
    margin-left: 3.5%;
    display: flex;
  }
  .image2 {
    width: 600px;
    height: 450px;
    background: blueviolet;
    background: url(img/amg.jpg);
    background-position: center;
  }
  
  .direction{
      margin-top: 200px;
  }
  .rond{
      width: 40px;
      height: 40px;
      background: url(gauche.svg);
      background-position: center;
      background-size: contain;
      background-color: rgba(91, 27, 173, 1);
      border-radius: 20px;
  
  }
  .rond1{
      width: 40px;
      height: 40px;
      background: url(droite.svg);
      background-position: center;
      background-size: contain;
      background-color: rgba(91, 27, 173, 1);
      margin-left: 480px;
      border-radius: 20px;
  }
  
  .rec1 {
    height: 126px;
    width: 600px;
    background: rgba(91, 27, 173, 1);
    margin-top: 150px;
    color: white;
  }
  .haut{
      display: flex;
      justify-content: space-between;
  }
   .a{
       margin-left: 20px;
   }
   .b{
       margin-right: 20px;
   }
  
   .bas{
       display: flex;
       justify-content: space-between;
   }
   .etoile{
       display: flex;
       margin-left: 20px;
       margin-top: 15px;
  
   }
   .cc{
       height: 20px;
       width: 20px;
       background: url(star.svg);
       background-size: cover;
  
   }
  
   .dcc{
       display: flex;
   }
  
   .cc1{
       margin-right: 20px;
  
   }
   .cc2{
      margin-top: 10px;
   }
  
  
  .image3 {
    width: 600px;
    height: 450px;
    background: blueviolet;
    margin-left: 55px;
    background: url(img/img.jpg);
    background-position: center;
  }
  
  .direction1{
      margin-top: 200px;  
  }
  .rond2{
      width: 40px;
      height: 40px;
      background: url(gauche.svg);
      background-position: center;
      background-size: contain;
      background-color: rgba(91, 27, 173, 1);
      border-radius: 20px;
  }
  
  .rond3{
      width: 40px;
      height: 40px;
      background: url(droite.svg);
      background-position: center;
      background-size: contain;
      background-color: rgba(91, 27, 173, 1);
      border-radius: 20px;
      margin-left: 480px;
  }
  
  .rec2 {
    height: 126px;
    width: 600px;
    background: rgba(91, 27, 173, 1);
    margin-top: 150px;
    color: white;
  }
  
  .cho {
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
    margin-top: 150px;
  }
  
  .txt {
    font-size: 20px;
    font-weight: bold;
    margin-left: 3.5%;
  }
  
  .article {
    margin-right: 20px;
  }
  .deco {
    text-decoration: none;
    color: rgba(235, 116, 29, 1);
  }
  
  .client {
    height: 90vh;
    width: 190vh;
    margin-left: 3.5%;
    display: flex;
    margin-top: 80px;
  }
  
  .client h3 {
    margin-top: -50px;
    font-weight: bold;
    justify-content: space-between;
  }
  
  .AVISE{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  
  .avis {
    height: 75vh;
    width: 90.5vh;
    margin-top: 20px;
  }
  
  .AVISE1{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .avis1 {
    height: 150px;
    width: 150px;
    border: 4px black;
    background-color: aqua;
    margin-left: 10%;
    border-radius: 90px;
    background-image: url(img/pro2.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .AVISE2{
      display: flex;
      align-items: center;
   justify-content: space-between;
  }
  .avis2 {
    height: 150px;
    width: 150px;
    border: 4px black;
    background-color: aqua;
    margin-left: 10%;
    border-radius: 90px;
    background-image: url(img/pro3.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .avis3 {
    height: 150px;
    width: 150px;
    border: 4px black;
    background-color: aqua;
    margin-left: 10%;
    border-radius: 90px;
    background-image: url(img/pro1.jpg);
    background-size: cover;
    background-position: center;
  }
  hr {
    width: 70vh;
    margin-left: 130px;
    background-color: rgba(80, 20, 128, 1);
  }
  
  .photo {
    height: 75vh;
    width: 90.5vh;
    margin-top: 20px;
    margin-left: 50px;
    background-color: black;
    background-image: url(img/tata.jpg);
  }
  
  .nom {
    height: 30px;
    width: 90.5vh;
    background: transparent;
    background-color: rgba(78, 11, 11, 0.48);
    margin-top: 495px;
  }
  
  .partenaires {
    height: 28vh;
    width: 190vh;
    background-color: rgba(196, 196, 196, 0.1);
    margin-left: 3.5%;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: space-around;
  }
  
  .line1 {
    border-left: 1px solid black;
    height: 28vh;
    position: absolute;
    left: 25%;
    margin-left: -4px;
    top: 2647px;
  }
  .line2 {
      border-left: 1px solid black;
      height: 28vh;
      position: absolute;
      left: 50%;
      margin-left: -4px;
      top: 2647px;
  
  }
  .line3 {
    border-left: 1px solid black;
    height: 28vh;
    position: absolute;
    left: 75%;
    margin-left: -4px;
    top: 2647px;
  }
  
  .sp1 {
    height: 130px;
    width: 138px;
    background-image: url(img/logoTO.png);
    background-size: contain;
    background-position: center;
  }
  
  .sp2 {
    height: 130px;
    width: 138px;
    background-image: url(img/logoTO2.jpg);
    background-size: contain;
    background-position: center;
  }
  
  .sp3 {
    height: 130px;
    width: 138px;
    background-image: url(img/logo2.png);
    background-size: contain;
    background-position: center;
  }
  
  .sp4 {
    height: 130px;
    width: 138px;
    background-image: url(img/logoTO3.png);
    background-size: contain;
    background-position: center;
  }
  
  .maps {
    margin-left: 3.5%;
    margin-top: 30px;
  }
  .formulaire {
    height: 450px;
    width: 1338px;
    margin-top: 30px;
    display: flex;
  }
  
  .bloc1 {
    height: 500px;
    width: 600px;
    background: url(img/ftt.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 3.5%;
  }
  
  .bloc2 {
    height: 500px;
    width: 900px;
    background-color: rgba(80, 20, 128, 0.99);
    margin-left: 3.5%;
    margin-right: 30px;
    color: white;
  
  }
  
  
  .recb {
    width: 487px;
    height: 200px;
    background: white;
    border: 2px rgb(31, 8, 8);
    margin-top: 305px;
    display: flex;
  }
  
  .line {
    border-left: 2px solid rgba(250, 199, 21, 1);
    height: 28vh;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 3710px;
  }
  
  .txte {
    margin-left: 4%;
    margin-top: 20px;
  }
  
  .line2 {
    border-left: 2px solid rgba(250, 199, 21, 1);
    height: 28vh;
    position: absolute;
    left: 50%;
    margin-left: -620px;
    top: 3710px;
  }
  
  .ln1 {
    display: flex;
    justify-content: space-around;
  }
  
  .n {
    height: 51px;
    width: 250px;
    border: 2px white;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.42);
  }
  .n1 {
    height: 51px;
    width: 400px;
    border: 2px white;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.42);
  }
  
  .ln2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .n2 {
    height: 51px;
    width: 250px;
    border: 2px white;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.42);
  }
  
  .n3 {
    height: 51px;
    width: 400px;
    border: 2px white;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.42);
  }
  
  .ln3 {
    height: 150px;
    width: 680px;
    border: 2px white;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.42);
    margin-top: 20px;
    text-align: center;
    margin-bottom: 3;
    align-items: center;
    margin-left: 20px;
  }
  
  button {
    margin-top: 50px;
    border-radius: 15px;
    border: white;
    height: 54px;
    width: 144px;
    font-size: 15px;
    margin-left: 20px;
  }
  
  h2{
  margin-left: 20px;
  }
  
  .logoB {
    height: 60px;
    width: 120px;
    background-image: url(Anj.png);
    background-position: center;
    background-size: contain;
    margin-left: 550px;
    margin-top: -60px;
  }
  .social:hover{
      color: rgba(80, 20, 128, 1);
  }
  .icons{
      margin-left: 25px;
  
  }
  
  footer{
      margin-top: 80px;
      margin-left: 3.5%;
      background-color: white;
      width: 1260px;
      height: 20px;
  }
  .footer{
      color: black;
      margin-left: 10px;
  }